.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.675781;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{width:1.440000px;}
._6{width:3.200000px;}
._b{width:4.360000px;}
._19{width:5.520000px;}
._5{width:6.720000px;}
._8{width:8.160000px;}
._2{width:9.920000px;}
._12{width:12.160000px;}
._9{width:13.160000px;}
._7{width:14.200000px;}
._d{width:15.200000px;}
._4{width:16.360000px;}
._f{width:17.400000px;}
._10{width:18.520000px;}
._14{width:20.760000px;}
._1e{width:22.240000px;}
._e{width:24.040000px;}
._1a{width:25.560000px;}
._16{width:26.720000px;}
._17{width:27.880000px;}
._1d{width:29.160000px;}
._1c{width:32.840000px;}
._18{width:34.320000px;}
._11{width:35.560000px;}
._13{width:36.640000px;}
._c{width:38.640000px;}
._a{width:43.480000px;}
._1b{width:47.640000px;}
._15{width:66.720000px;}
._0{width:133.440000px;}
._1{width:348.835989px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs6{font-size:16.000000px;}
.fs5{font-size:26.000000px;}
.fs0{font-size:32.000000px;}
.fs4{font-size:40.000000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:60.000000px;}
.fs3{font-size:72.000000px;}
.y2{bottom:1.695000px;}
.y34{bottom:2.118999px;}
.y4{bottom:3.143000px;}
.y80{bottom:7.867996px;}
.y6c{bottom:7.868000px;}
.y86{bottom:7.868004px;}
.y7d{bottom:7.868011px;}
.y39{bottom:7.868999px;}
.y90{bottom:10.898003px;}
.y38{bottom:12.717999px;}
.y37{bottom:13.617999px;}
.y3{bottom:16.350024px;}
.y8e{bottom:16.491999px;}
.y1{bottom:21.600011px;}
.y6b{bottom:25.115998px;}
.y83{bottom:25.116001px;}
.y8a{bottom:25.116005px;}
.ya7{bottom:28.146000px;}
.ya0{bottom:33.739998px;}
.y7c{bottom:42.363998px;}
.y89{bottom:42.364006px;}
.ya8{bottom:45.393997px;}
.yb0{bottom:50.987997px;}
.ya4{bottom:50.987999px;}
.y97{bottom:52.500000px;}
.ya6{bottom:52.981977px;}
.y5a{bottom:53.945005px;}
.yba{bottom:54.449016px;}
.y81{bottom:59.000000px;}
.y91{bottom:59.380026px;}
.y7f{bottom:59.611997px;}
.y7b{bottom:59.612000px;}
.y5b{bottom:61.500000px;}
.y7e{bottom:61.879988px;}
.y2e{bottom:62.041990px;}
.y92{bottom:68.235992px;}
.y9c{bottom:68.236000px;}
.y59{bottom:71.193007px;}
.yb9{bottom:71.696989px;}
.y93{bottom:76.859993px;}
.y85{bottom:76.859998px;}
.y7a{bottom:76.860001px;}
.y2d{bottom:79.289991px;}
.ya3{bottom:85.483994px;}
.y9a{bottom:85.484001px;}
.y58{bottom:88.441008px;}
.yb8{bottom:88.944987px;}
.y96{bottom:94.107994px;}
.yac{bottom:94.107999px;}
.y79{bottom:94.108002px;}
.y2c{bottom:96.537992px;}
.y9b{bottom:102.731995px;}
.y57{bottom:105.689006px;}
.yb7{bottom:106.193022px;}
.y95{bottom:111.355995px;}
.y88{bottom:111.356000px;}
.y78{bottom:111.356003px;}
.y2b{bottom:113.785991px;}
.ya5{bottom:122.473997px;}
.y56{bottom:122.937025px;}
.y0{bottom:123.000000px;}
.yb6{bottom:123.441020px;}
.y2a{bottom:125.709002px;}
.y94{bottom:128.603993px;}
.y9f{bottom:128.603996px;}
.y77{bottom:128.604004px;}
.y6d{bottom:131.371988px;}
.y55{bottom:140.185026px;}
.yb5{bottom:140.689006px;}
.y29{bottom:144.832988px;}
.yae{bottom:145.851995px;}
.y9e{bottom:145.851997px;}
.y76{bottom:145.852005px;}
.y54{bottom:157.433024px;}
.yb4{bottom:157.936992px;}
.y28{bottom:162.080974px;}
.y9d{bottom:163.099996px;}
.y75{bottom:163.100006px;}
.y53{bottom:174.681028px;}
.yb3{bottom:175.185026px;}
.y27{bottom:179.329021px;}
.y74{bottom:180.348007px;}
.y52{bottom:191.929029px;}
.yb2{bottom:192.433024px;}
.y73{bottom:197.596008px;}
.y8f{bottom:197.864016px;}
.y26{bottom:202.750995px;}
.y51{bottom:209.177031px;}
.y72{bottom:214.844009px;}
.ya9{bottom:215.500000px;}
.yb1{bottom:218.154986px;}
.y25{bottom:221.874980px;}
.y50{bottom:226.425029px;}
.y71{bottom:232.092003px;}
.y24{bottom:239.123027px;}
.y4f{bottom:243.673002px;}
.yaf{bottom:243.710005px;}
.ya2{bottom:243.710012px;}
.y70{bottom:249.340004px;}
.y23{bottom:256.371013px;}
.y4e{bottom:260.921003px;}
.y6f{bottom:266.588005px;}
.y4d{bottom:278.169004px;}
.y22{bottom:279.792987px;}
.y6e{bottom:283.836003px;}
.y4c{bottom:295.417003px;}
.y21{bottom:298.917006px;}
.y4b{bottom:312.664991px;}
.yad{bottom:313.202002px;}
.y20{bottom:316.165007px;}
.y8d{bottom:319.100016px;}
.y4a{bottom:329.912992px;}
.y1f{bottom:333.413005px;}
.y49{bottom:347.160991px;}
.y1e{bottom:350.661009px;}
.y48{bottom:364.409018px;}
.y1d{bottom:367.909010px;}
.y8c{bottom:370.438006px;}
.y47{bottom:381.657011px;}
.ya1{bottom:382.193998px;}
.y1c{bottom:385.157011px;}
.y46{bottom:398.905012px;}
.y1b{bottom:402.405009px;}
.y45{bottom:416.153013px;}
.y8b{bottom:416.690001px;}
.y1a{bottom:419.652998px;}
.y6a{bottom:425.087992px;}
.y44{bottom:433.401011px;}
.y19{bottom:436.900999px;}
.y43{bottom:444.900004px;}
.y18{bottom:454.148997px;}
.y2f{bottom:454.500000px;}
.y42{bottom:456.822986px;}
.yab{bottom:468.934004px;}
.y41{bottom:475.947001px;}
.y17{bottom:479.870990px;}
.y69{bottom:481.751005px;}
.y40{bottom:493.194987px;}
.y16{bottom:498.995001px;}
.y68{bottom:498.999003px;}
.y87{bottom:503.430006px;}
.y3f{bottom:510.443004px;}
.y15{bottom:516.243002px;}
.y67{bottom:516.247005px;}
.y3e{bottom:527.691005px;}
.y66{bottom:528.170001px;}
.y14{bottom:533.490995px;}
.y13{bottom:550.738997px;}
.y3d{bottom:551.112994px;}
.y65{bottom:564.542006px;}
.y12{bottom:567.986998px;}
.y99{bottom:572.922005px;}
.yaa{bottom:572.922007px;}
.y3c{bottom:576.668007px;}
.y64{bottom:581.790007px;}
.y11{bottom:585.234996px;}
.y10{bottom:597.158008px;}
.y63{bottom:599.038005px;}
.y3b{bottom:600.166000px;}
.yf{bottom:610.532993px;}
.y62{bottom:616.286001px;}
.ye{bottom:622.031993px;}
.y3a{bottom:623.664005px;}
.y84{bottom:624.666002px;}
.yc{bottom:633.531001px;}
.y61{bottom:633.534002px;}
.yd{bottom:636.561001px;}
.yb{bottom:645.030002px;}
.y36{bottom:647.162004px;}
.y60{bottom:650.782001px;}
.ya{bottom:656.529002px;}
.y9{bottom:668.028003px;}
.y5f{bottom:668.030006px;}
.y35{bottom:670.660004px;}
.y8{bottom:679.527003px;}
.y33{bottom:682.659003px;}
.y5e{bottom:685.278000px;}
.y7{bottom:691.026000px;}
.y5d{bottom:702.526001px;}
.y82{bottom:711.406000px;}
.y6{bottom:715.718998px;}
.y32{bottom:719.774000px;}
.y5c{bottom:719.774002px;}
.y31{bottom:737.022001px;}
.y98{bottom:745.902000px;}
.y5{bottom:749.580000px;}
.y30{bottom:754.270000px;}
.h2{height:9.199000px;}
.hb{height:11.499000px;}
.hd{height:11.656250px;}
.h4{height:14.998999px;}
.h19{height:17.247999px;}
.h9{height:18.941406px;}
.hc{height:22.997999px;}
.h3{height:23.312500px;}
.h8{height:29.140625px;}
.hf{height:32.437500px;}
.h10{height:34.495998px;}
.h5{height:34.968750px;}
.h6{height:43.710938px;}
.h14{height:51.743999px;}
.h7{height:52.453125px;}
.h12{height:68.991997px;}
.h15{height:86.239998px;}
.h1c{height:103.487999px;}
.h16{height:120.736000px;}
.h17{height:137.983994px;}
.h1d{height:155.231995px;}
.h1a{height:172.479996px;}
.ha{height:240.000000px;}
.h11{height:293.216003px;}
.he{height:478.000000px;}
.h1b{height:548.000000px;}
.h1{height:652.000000px;}
.h13{height:704.500000px;}
.h18{height:711.000000px;}
.h0{height:792.000000px;}
.w2{width:7.474000px;}
.wa{width:25.950001px;}
.w7{width:26.500000px;}
.w4{width:73.650002px;}
.w6{width:85.349998px;}
.w8{width:98.500000px;}
.wb{width:116.500000px;}
.w5{width:273.250000px;}
.wc{width:278.500000px;}
.w9{width:296.500000px;}
.wd{width:423.000000px;}
.w1{width:444.000000px;}
.w3{width:448.500000px;}
.w0{width:612.000000px;}
.x1{left:0.000000px;}
.xc{left:5.150000px;}
.x18{left:10.700000px;}
.x15{left:13.250000px;}
.xf{left:20.436000px;}
.x12{left:26.824000px;}
.x11{left:31.552001px;}
.x1b{left:35.766000px;}
.x10{left:41.268000px;}
.xb{left:84.000000px;}
.x0{left:88.500000px;}
.x2{left:90.000000px;}
.x5{left:94.500000px;}
.x14{left:99.250000px;}
.x13{left:103.500000px;}
.xa{left:108.000000px;}
.x9{left:111.299999px;}
.x6{left:126.000000px;}
.x19{left:131.257998px;}
.x1a{left:138.488001px;}
.xd{left:159.000001px;}
.x16{left:225.250000px;}
.x1c{left:240.297998px;}
.x17{left:242.699997px;}
.x1d{left:245.353998px;}
.x4{left:281.320007px;}
.xe{left:432.749994px;}
.x7{left:440.789001px;}
.x8{left:446.209991px;}
.x3{left:523.925989px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._3{width:1.920000pt;}
._6{width:4.266667pt;}
._b{width:5.813333pt;}
._19{width:7.360000pt;}
._5{width:8.960000pt;}
._8{width:10.880000pt;}
._2{width:13.226667pt;}
._12{width:16.213333pt;}
._9{width:17.546667pt;}
._7{width:18.933333pt;}
._d{width:20.266667pt;}
._4{width:21.813333pt;}
._f{width:23.200000pt;}
._10{width:24.693333pt;}
._14{width:27.680000pt;}
._1e{width:29.653333pt;}
._e{width:32.053333pt;}
._1a{width:34.080000pt;}
._16{width:35.626667pt;}
._17{width:37.173333pt;}
._1d{width:38.880000pt;}
._1c{width:43.786667pt;}
._18{width:45.760000pt;}
._11{width:47.413333pt;}
._13{width:48.853333pt;}
._c{width:51.520000pt;}
._a{width:57.973333pt;}
._1b{width:63.520000pt;}
._15{width:88.960000pt;}
._0{width:177.920000pt;}
._1{width:465.114652pt;}
.fs6{font-size:21.333333pt;}
.fs5{font-size:34.666667pt;}
.fs0{font-size:42.666667pt;}
.fs4{font-size:53.333333pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:80.000000pt;}
.fs3{font-size:96.000000pt;}
.y2{bottom:2.260000pt;}
.y34{bottom:2.825333pt;}
.y4{bottom:4.190666pt;}
.y80{bottom:10.490662pt;}
.y6c{bottom:10.490667pt;}
.y86{bottom:10.490672pt;}
.y7d{bottom:10.490682pt;}
.y39{bottom:10.491999pt;}
.y90{bottom:14.530670pt;}
.y38{bottom:16.957333pt;}
.y37{bottom:18.157332pt;}
.y3{bottom:21.800032pt;}
.y8e{bottom:21.989332pt;}
.y1{bottom:28.800014pt;}
.y6b{bottom:33.487998pt;}
.y83{bottom:33.488002pt;}
.y8a{bottom:33.488007pt;}
.ya7{bottom:37.528000pt;}
.ya0{bottom:44.986664pt;}
.y7c{bottom:56.485331pt;}
.y89{bottom:56.485341pt;}
.ya8{bottom:60.525330pt;}
.yb0{bottom:67.983996pt;}
.ya4{bottom:67.983999pt;}
.y97{bottom:70.000000pt;}
.ya6{bottom:70.642637pt;}
.y5a{bottom:71.926674pt;}
.yba{bottom:72.598687pt;}
.y81{bottom:78.666667pt;}
.y91{bottom:79.173368pt;}
.y7f{bottom:79.482662pt;}
.y7b{bottom:79.482666pt;}
.y5b{bottom:82.000000pt;}
.y7e{bottom:82.506650pt;}
.y2e{bottom:82.722654pt;}
.y92{bottom:90.981323pt;}
.y9c{bottom:90.981333pt;}
.y59{bottom:94.924009pt;}
.yb9{bottom:95.595985pt;}
.y93{bottom:102.479991pt;}
.y85{bottom:102.479997pt;}
.y7a{bottom:102.480001pt;}
.y2d{bottom:105.719989pt;}
.ya3{bottom:113.978658pt;}
.y9a{bottom:113.978668pt;}
.y58{bottom:117.921343pt;}
.yb8{bottom:118.593316pt;}
.y96{bottom:125.477325pt;}
.yac{bottom:125.477332pt;}
.y79{bottom:125.477336pt;}
.y2c{bottom:128.717323pt;}
.y9b{bottom:136.975993pt;}
.y57{bottom:140.918674pt;}
.yb7{bottom:141.590696pt;}
.y95{bottom:148.474660pt;}
.y88{bottom:148.474667pt;}
.y78{bottom:148.474670pt;}
.y2b{bottom:151.714654pt;}
.ya5{bottom:163.298663pt;}
.y56{bottom:163.916033pt;}
.y0{bottom:164.000000pt;}
.yb6{bottom:164.588027pt;}
.y2a{bottom:167.612003pt;}
.y94{bottom:171.471991pt;}
.y9f{bottom:171.471995pt;}
.y77{bottom:171.472005pt;}
.y6d{bottom:175.162651pt;}
.y55{bottom:186.913368pt;}
.yb5{bottom:187.585341pt;}
.y29{bottom:193.110650pt;}
.yae{bottom:194.469326pt;}
.y9e{bottom:194.469330pt;}
.y76{bottom:194.469340pt;}
.y54{bottom:209.910699pt;}
.yb4{bottom:210.582656pt;}
.y28{bottom:216.107965pt;}
.y9d{bottom:217.466661pt;}
.y75{bottom:217.466675pt;}
.y53{bottom:232.908038pt;}
.yb3{bottom:233.580035pt;}
.y27{bottom:239.105361pt;}
.y74{bottom:240.464010pt;}
.y52{bottom:255.905373pt;}
.yb2{bottom:256.577366pt;}
.y73{bottom:263.461344pt;}
.y8f{bottom:263.818687pt;}
.y26{bottom:270.334660pt;}
.y51{bottom:278.902707pt;}
.y72{bottom:286.458679pt;}
.ya9{bottom:287.333333pt;}
.yb1{bottom:290.873315pt;}
.y25{bottom:295.833307pt;}
.y50{bottom:301.900038pt;}
.y71{bottom:309.456004pt;}
.y24{bottom:318.830702pt;}
.y4f{bottom:324.897336pt;}
.yaf{bottom:324.946673pt;}
.ya2{bottom:324.946683pt;}
.y70{bottom:332.453339pt;}
.y23{bottom:341.828017pt;}
.y4e{bottom:347.894671pt;}
.y6f{bottom:355.450673pt;}
.y4d{bottom:370.892006pt;}
.y22{bottom:373.057316pt;}
.y6e{bottom:378.448004pt;}
.y4c{bottom:393.889337pt;}
.y21{bottom:398.556007pt;}
.y4b{bottom:416.886655pt;}
.yad{bottom:417.602669pt;}
.y20{bottom:421.553342pt;}
.y8d{bottom:425.466688pt;}
.y4a{bottom:439.883990pt;}
.y1f{bottom:444.550673pt;}
.y49{bottom:462.881321pt;}
.y1e{bottom:467.548012pt;}
.y48{bottom:485.878690pt;}
.y1d{bottom:490.545347pt;}
.y8c{bottom:493.917342pt;}
.y47{bottom:508.876015pt;}
.ya1{bottom:509.591998pt;}
.y1c{bottom:513.542681pt;}
.y46{bottom:531.873350pt;}
.y1b{bottom:536.540012pt;}
.y45{bottom:554.870684pt;}
.y8b{bottom:555.586667pt;}
.y1a{bottom:559.537331pt;}
.y6a{bottom:566.783989pt;}
.y44{bottom:577.868015pt;}
.y19{bottom:582.534665pt;}
.y43{bottom:593.200006pt;}
.y18{bottom:605.531996pt;}
.y2f{bottom:606.000000pt;}
.y42{bottom:609.097314pt;}
.yab{bottom:625.245338pt;}
.y41{bottom:634.596002pt;}
.y17{bottom:639.827986pt;}
.y69{bottom:642.334674pt;}
.y40{bottom:657.593316pt;}
.y16{bottom:665.326668pt;}
.y68{bottom:665.332005pt;}
.y87{bottom:671.240008pt;}
.y3f{bottom:680.590672pt;}
.y15{bottom:688.324003pt;}
.y67{bottom:688.329339pt;}
.y3e{bottom:703.588006pt;}
.y66{bottom:704.226668pt;}
.y14{bottom:711.321327pt;}
.y13{bottom:734.318662pt;}
.y3d{bottom:734.817326pt;}
.y65{bottom:752.722674pt;}
.y12{bottom:757.315997pt;}
.y99{bottom:763.896006pt;}
.yaa{bottom:763.896009pt;}
.y3c{bottom:768.890676pt;}
.y64{bottom:775.720009pt;}
.y11{bottom:780.313328pt;}
.y10{bottom:796.210677pt;}
.y63{bottom:798.717340pt;}
.y3b{bottom:800.221334pt;}
.yf{bottom:814.043991pt;}
.y62{bottom:821.714668pt;}
.ye{bottom:829.375991pt;}
.y3a{bottom:831.552007pt;}
.y84{bottom:832.888003pt;}
.yc{bottom:844.708001pt;}
.y61{bottom:844.712003pt;}
.yd{bottom:848.748002pt;}
.yb{bottom:860.040002pt;}
.y36{bottom:862.882673pt;}
.y60{bottom:867.709334pt;}
.ya{bottom:875.372003pt;}
.y9{bottom:890.704004pt;}
.y5f{bottom:890.706675pt;}
.y35{bottom:894.213338pt;}
.y8{bottom:906.036004pt;}
.y33{bottom:910.212004pt;}
.y5e{bottom:913.704000pt;}
.y7{bottom:921.368000pt;}
.y5d{bottom:936.701335pt;}
.y82{bottom:948.541334pt;}
.y6{bottom:954.291997pt;}
.y32{bottom:959.698667pt;}
.y5c{bottom:959.698669pt;}
.y31{bottom:982.696002pt;}
.y98{bottom:994.536001pt;}
.y5{bottom:999.440000pt;}
.y30{bottom:1005.693333pt;}
.h2{height:12.265334pt;}
.hb{height:15.331999pt;}
.hd{height:15.541667pt;}
.h4{height:19.998666pt;}
.h19{height:22.997332pt;}
.h9{height:25.255208pt;}
.hc{height:30.663999pt;}
.h3{height:31.083333pt;}
.h8{height:38.854167pt;}
.hf{height:43.250000pt;}
.h10{height:45.994665pt;}
.h5{height:46.625000pt;}
.h6{height:58.281250pt;}
.h14{height:68.991999pt;}
.h7{height:69.937500pt;}
.h12{height:91.989329pt;}
.h15{height:114.986664pt;}
.h1c{height:137.983999pt;}
.h16{height:160.981333pt;}
.h17{height:183.978658pt;}
.h1d{height:206.975993pt;}
.h1a{height:229.973328pt;}
.ha{height:320.000000pt;}
.h11{height:390.954671pt;}
.he{height:637.333333pt;}
.h1b{height:730.666667pt;}
.h1{height:869.333333pt;}
.h13{height:939.333333pt;}
.h18{height:948.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:9.965333pt;}
.wa{width:34.600001pt;}
.w7{width:35.333333pt;}
.w4{width:98.200002pt;}
.w6{width:113.799998pt;}
.w8{width:131.333333pt;}
.wb{width:155.333333pt;}
.w5{width:364.333333pt;}
.wc{width:371.333333pt;}
.w9{width:395.333333pt;}
.wd{width:564.000000pt;}
.w1{width:592.000000pt;}
.w3{width:598.000000pt;}
.w0{width:816.000000pt;}
.x1{left:0.000000pt;}
.xc{left:6.866667pt;}
.x18{left:14.266666pt;}
.x15{left:17.666667pt;}
.xf{left:27.248000pt;}
.x12{left:35.765333pt;}
.x11{left:42.069334pt;}
.x1b{left:47.688000pt;}
.x10{left:55.024000pt;}
.xb{left:112.000000pt;}
.x0{left:118.000000pt;}
.x2{left:120.000000pt;}
.x5{left:126.000000pt;}
.x14{left:132.333333pt;}
.x13{left:138.000000pt;}
.xa{left:144.000000pt;}
.x9{left:148.399999pt;}
.x6{left:168.000000pt;}
.x19{left:175.010663pt;}
.x1a{left:184.650668pt;}
.xd{left:212.000002pt;}
.x16{left:300.333333pt;}
.x1c{left:320.397331pt;}
.x17{left:323.599996pt;}
.x1d{left:327.138664pt;}
.x4{left:375.093343pt;}
.xe{left:576.999992pt;}
.x7{left:587.718669pt;}
.x8{left:594.946655pt;}
.x3{left:698.567985pt;}
}
